.news-result__title {
    font-family: Roboto Slab, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0 0 64px 104px;
  }
  
  @media screen and (min-width: 1201px) and (max-width: 1439px) {
    .news-result__title {
      margin: 0 0 64px 60px;
    }
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .news-result__title {
      margin: 0 0 32px 40px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .news-result__title {
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 32px 40px;
    }
  }
  
  @media screen and (min-width: 475px) and (max-width: 767px) {
    .news-result__title {
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 24px 16px;
    }
  }
  
  @media screen and (min-width: 411px) and (max-width: 474px) {
    .news-result__title {
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 24px 60px;
    }
  }
  
  @media screen and (min-width: 375px) and (max-width: 410px) {
    .news-result__title {
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 24px 40px;
    }
  }
  
  @media screen and (max-width: 374px) {
    .news-result__title {
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 24px 16px;
      max-width: 288px;
    }
  }
  