@import url(./__title/author__title.css);
@import url(./__content/author__content.css);
@import url(./__subtitle/author__subtitle.css);
@import url(./__img/author__img.css);
@import url(./__picture/author__picture.css);

.author {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .author {
    flex-direction: column;
  }
}
