.search__title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
  margin: 0 0 32px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 285px;
    margin: 0 0 16px;
  }
}
