.footer__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.footer__link:hover {
  opacity: .7;
  transition: .1s linear;
}

@media screen and (max-width: 767px) {
  .footer__link {
    line-height: 48px;
  }
}

