.card__text-login {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background: #FFFFFF;
    box-shadow: 0 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    border: none;
    padding: 14px 13px 13px 13px;
    margin-right: 5px;
  }
  
  @media screen and (max-width: 1065px) {
    .card__text-login {
      display: none;
    }
  }
  