.footer__copyright-link {
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

.footer__copyright-link:hover {
  color: #a2a8ab;
  transition: .1s linear;
}

@media screen and (max-width: 767px) {
  .footer__copyright-link {
    grid-area: post-3;
  }
}