.card__date-text {
    font-family: Source Sans Pro, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0 0 12px;
  }
  
  @media screen and (max-width: 767px) {
    .card__date-text {
      margin: 0 0 10px;
    }
  }
  