.error {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  display: block;
  padding: 2px 0 0;
  box-sizing: border-box;
  height: 28px;
}
