.card__image {
    background-image: url("../../../images/test-card.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 272px;
    object-fit: cover;
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .card__image {
      height: 200px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .card__image {
      height: 150px;
    }
  }
  
  @media screen and (min-width: 475px) and (max-width: 767px) {
    .card__image {
      height: 150px;
    }
  }
  
  @media screen and (max-width: 474px) {
    .card__image {
      height: 196px;
    }
  }
.card__image_les {
  background-image: url("../../../images/les.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 272px;
  object-fit: cover;
}  
.card__image_taiga {
  background-image: url("../../../images/taiga.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 272px;
  object-fit: cover;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .card__image_les {
    height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card__image_les {
    height: 150px;
  }
}

@media screen and (min-width: 475px) and (max-width: 767px) {
  .card__image_les {
    height: 150px;
  }
}

@media screen and (max-width: 474px) {
  .card__image_les {
    height: 196px;
  }
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .card__image_taiga {
    height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card__image_taiga {
    height: 150px;
  }
}

@media screen and (min-width: 475px) and (max-width: 767px) {
  .card__image_taiga {
    height: 150px;
  }
}

@media screen and (max-width: 474px) {
  .card__image_taiga {
    height: 196px;
  }
}
.card__image-ogon {
    background-image: url("../../../images/lesn_ogonki.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 272px;
    object-fit: cover;
}
.card__image-park {
  background-image: url("../../../images/parkki2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 272px;
  object-fit: cover;
}
.card__image-parki {
  background-image: url("../../../images/parki1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 272px;
  object-fit: cover;
}