@import url(./_auth/menu__li_auth.css);
@import url(./_nouser/menu__li_nouser.css);
@import url(./_noarticles/menu__li_noarticles.css);
@import url(./_saved_message/menu__li_saved_message.css);
@import url(./_login/menu__li_login.css);

.menu__li {
  list-style-type: none;
  margin-left: 33px;
}

.menu__li:first-child {
  margin-left: 0;
}

.menu__li:hover {
  opacity: .7;
  transition: .1s linear;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__li {
    margin-left: 18px;
  }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
  .menu__li {
    margin-left: 14px;
  }
}
