.result-not-found__title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 24px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .result-not-found__title {
    font-size: 24px;
    margin: 15px 0 0;
  }
}
