.card__source {
    font-family: Roboto Slab, Arial, sans-serif;
    display: flex;  
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 0;
  }
  
